streamlit>=1.30
openai>=1.30
requests>=2.31
streamlit-mic-recorder>=0.0.8
librosa>=0.10
matplotlib>=3.7
numpy>=1.24
soundfile>=0.12
noisereduce>=3.0
imageio-ffmpeg>=0.4.9
streamlit-webrtc>=0.47
gTTS>=2.5
